@import "common";

footer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    .footer-right,
    .footer_left,
    .footer-center {
        @include line-hight;
    }

    .menu-footer {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;

            li {
                padding-left: 15px;
                border-left: 2px solid $gary;
                padding: 0 10px;
                line-height: 13px;

                a {
                    color: $gary;

                    &:hover {
                        color: $green;
                        border-bottom: 2px solid $green;
                        padding-bottom: 2px;
                    }
                }

                &:last-child {
                    border: none;
                }
            }
        }
    }

    .copy-right {
        text-align: center;
        color: $black;
    }

    .social-media {
        background: $white;
        margin-right: 15px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 5px 20px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;

            li {
                margin: 0 12px;

                a {
                    color: $brown;
                    font-size: $font-size + 5;

                    i {
                        @include transi(all, 0.2s);
                    }

                    &:hover {
                        color: $green;

                        i {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

    .footer-left {
        display: flex;
        padding: 0;
        justify-content: flex-end;

        .menu-footer {
            @include line-hight;
        }
    }

    .footer-right {
        .menu-footer {
            margin: 0 auto;

            ul {
                li {
                    border-left: 1px solid #fff;

                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }
}