<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.18.1/bootstrap-vue.min.css"
        integrity="sha512-oqSSCKWeQcVs+9Hek1tZlj8hMlLhDNI+NUmm56nBCsO4OLE8dyDpaUA/b2zGi+M9SML0xwGtk22ozH2qyqKipg=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.18.1/bootstrap-vue-icons.min.css"
        integrity="sha512-i0tPmtwhNYyKmqYiccSN9qsEX25FsNNkeWqIbjYyk7QoVkPLfyl7QsABy3oIQx5ofROjV6KLJTzV+asMrT25UA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <link href="css/animated.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</head>

<body class="inner__layout__body">


    <header class="p-2  bg-white">
        <div class="container">
            <div class="row     align-items-center">
                <div class="col">
                    <div class="logo p-0 text-right ">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="./image/logo.svg" />
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="left__area">

                        <div class="header-user-block">
                            <div class="user-img-cont">
                                <a href="" class="top__notification" title="الاشعارات">
                                    <img src="./image/notification.svg" />
                                    <span></span>
                                </a>
                            </div>


                            <div class="gear" title="الاعدادات"></div>

                            <div class="user__seetings ">

                                <a class=" " href="/Individual/ProfileIndex">
                                    <i class="fas fa-user"></i>
                                    <span class="hidden-xs">احمد محمد علي </span>
                                </a>

                                <a class=" " href="/account/Manage">
                                    <i class="fas fa-cog"></i>
                                    <span class="">ادارة الحساب </span>
                                </a>

                                <a href="/Account/Logout" id="logout-btn" class=" ">
                                    <i class="fas fa-sign-out-alt"></i>خروج
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <b-container id="app" class="mt-4">

        <b-row>
            <b-col>

                <b-alert show dismissible fade class="mt-3 animated fadeInDown">
                    Dismissible Alert! Click the close button over there <b>&rArr;</b>
                </b-alert>

            </b-col>
        </b-row>

        <b-row>
            <b-col v-for="item in list" md="4" cols="12">
                <b-card :title="item.name " :img-src="item.image" img-alt="Image" img-top tag="article"
                    class="mb-2 card">



                    <b-card-text class="card__body" v-if="item.description">
                        {{ description}}
                    </b-card-text>
                    <b-card-text v-else class="card__body disabeld" disabled>
                        <p class="mx-auto text-center"> لاتوجد بيانات</p>
                    </b-card-text>

                    <b-button :href="item.url" variant="primary" target="_blank">More info </b-button>
                </b-card>
            </b-col>

            <!-- start test modal -->
            <!-- <b-col md="4" cols="12">
                <b-card :title="name" :img-src="image" img-alt="Image" img-top tag="article" class="mb-2 card">
                    <b-card-text class="card__body">
                        {{description }}
                    </b-card-text>
                    <b-button variant="primary" class="more__btn" v-b-modal.modal-1>Test Modal
                    </b-button>
                </b-card>
            </b-col>

            <b-modal id="modal-1" title="Test Modal">
                <p class="my-4">Test Modal!</p>
            </b-modal> -->
            <!-- end test modal -->
        </b-row>


        <b-row class="mb-3">
            <b-col cols="12" class="mt-3">
                <b-button @click="addcategory()" variant="success" class="float-left">اضافة</b-button>
            </b-col>

            <b-col cols="12" class="mt-3 " v-for="item in items">
                <div class="category">
                    تصنيف رقم
                    <span> {{ item.total }}</span>

                </div>
            </b-col>
        </b-row>




        <!-- filter -->

        <b-row>
            <b-col cols="12">
                <label>البحث</label>
                <input type="text" v-model="benificarySearch" class="form-control w-25">

            </b-col>


            <b-col cols="12">



                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th> رقم الهوية </th>
                            <th> المستفيد </th>
                            <th> المدينة </th>
                            <th> نوع الطلب </th>
                            <th> التاريخ </th>
                            <th> الحالة </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- to filter -->
                        <!-- <tr v-for="benificery in filterbenificary"> -->
                        <tr v-for="benificery in benificaries">

                            <td>
                                {{ benificery.nationalId }}
                            </td>
                            <td>
                                {{ benificery.name }}
                            </td>
                            <td>
                                {{ benificery.city }}
                            </td>
                            <td>
                                {{ benificery.orderKind }}
                            </td>
                            <td>
                                {{ benificery.date }}
                            </td>
                            <td>
                                {{ benificery.stutus }}
                            </td>

                        </tr>

                    </tbody>
                </table>

            </b-col>
        </b-row>


        <!-- end filter -->

        <!-- validation -->

        <b-row>
            <b-col>
                <div class="mt-2 mb-5 d-flex flex-column">
                    <label>
                        اسم المستخدم
                    </label>
                    <input type="text " v-model="username" required :maxlength="max" class="form-control w-25 mb-2">
                    <span style="color: #f34f41;"> {{ validatusername }}</span>
                </div>
            </b-col>
        </b-row>

        <!-- end validation -->




    </b-container>



    <script src=" js/vue.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.18.1/bootstrap-vue.min.js"
        integrity="sha512-EjDLjOtxOuNZDwpjHHPa4VAIomVXXv9gIGVuO/+smw04V8oIqhbuC/K1WTnr9k2YB30eltq2tiV3smzH1x9vuA=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.18.1/bootstrap-vue-icons.min.js"
        integrity="sha512-sc98ORSeUImZ1x0Vxz6E4Re65YBgXZdaadZIwaeadlzWFgLxwLCQwGVNw0WQYH12ALSHxSiAZhfLB6SRRsq3Pw=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>

    <script>
        $(".gear").click(function () {
            $(".user__seetings").toggleClass('d-flex animated slideInUp');
        });
    </script>

</body>

</html>